<?xml version="1.0"?>
<openbox_menu>
	<menu id="root-menu" label="Tarno OS">
		<item label="Tarno Settings">
			<action name="Execute" command="tarno-settings"/>
		</item>
		<item label="Terminal">
			<action name="Execute" command="foot"/>
		</item>
		<item label="Files">
			<action name="Execute" command="pcmanfm-qt"/>
		</item>
		<item label="Web Browser">
			<action name="Execute" command="firefox-esr"/>
		</item>
		<item label="Text Editor">
			<action name="Execute" command="geany"/>
		</item>
		<separator/>
		<item label="Tarno Store">
			<action name="Execute" command="tarno-store"/>
		</item>
		<item label="Synaptic Package Manager">
			<action name="Execute" command="sudo -E synaptic"/>
		</item>
		<separator/>
		<item label="Install to Disk">
			<action name="Execute" command="foot -e tarno-install-to-disk"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
